body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
  
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #000;
}

select {
  border: none;
  outline: none;
}

option {
  outline: none;
}




.content {
  overflow: hidden;
}

.block {
  text-align: center;
}

.block__item {
  display: flex;
  justify-content: center;

  margin: 0.5rem 0;
}

.block__row {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: center;
}

.block__select {
  border: 0.5px solid #76bff0;
  border-radius: 10px;

  padding: 1px;
  text-align: center;
}

.block__button {
  border-radius: 10px;
  outline: none;
  border: 0.5px solid #0092f3;
  background-color: #ebe6e6;

  cursor: pointer;

  padding: 0.5rem;

  -webkit-transition: .3s ease-in-out;
  -moz-transition: .3s ease-in-out;
  -o-transition: .3s ease-in-out;
  transition: .3s ease-in-out;

  &:hover {
    background-color: #0092f3;
    color: #fff;

    transition: .2s ease-in-out;
  }

  &.hidden {
    opacity: 0.2;
    &:hover {
      background-color: #ebe6e6;
      color: #000;
      cursor: initial;
    }
  }
  
}

.seats {
  width: 15px;
  height: 15px;
  border: 1px solid #ccc;
  margin: 0.3rem;

  -webkit-transition: .3s ease-in-out;
  -moz-transition: .3s ease-in-out;
  -o-transition: .3s ease-in-out;
  transition: .3s ease-in-out;

  &.active {
    background-color: #ccc;
    cursor: auto;
  }

  &:hover {
    background-color: #0092f3;
    cursor: pointer;
  }

  &.clicked {
    background-color: red;
  }

  &.reserved {
    background-color: green;
    cursor: auto;
  }
  
}
